$light-blue: #1ee3cf;
$purple: #6b48ff;


html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    background-color: #f2f4f6;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}


header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  background-color: $light-blue;
  box-shadow: 0 3px 6px rgba(0,0,0,0.06);
}

.container {
  width: 90%;
  margin: 0 auto;
  margin-bottom: 100px;
}

footer {
  background-color: #222;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
  width: 100%;
  position: fixed;
  left: 0;
  bottom: 0;
  margin-top: 100px;
}

h1 {
  text-align: center;
  color: #333;
}

.blog-item {
  background-color: #fff;
  box-shadow: 0 3px 6px rgba(0,0,0,0.06);
  border-radius: 10px;
  padding: 16px;
  margin-bottom: 15px;
  h5 {
    margin: 0;
    margin-bottom: 10px;
    text-transform: capitalize;
    color: #333;
    font-size: 16px;
  }
  p {
    text-transform: capitalize;
    color: #444;
    font-size: 14px;
  }
  .text-align-right {
    text-align: right;
    a {
      background: $purple;
      text-decoration: none;
      display: inline-block;
      transition: 0.3s ease;
      border-radius: 20px;
      padding: 10px 20px;
      color: #fff;
      &:hover {
        background-color: darken($purple, 5%);
      }
    }
  }
}

.post-title {
  margin-bottom: 10px;
  text-transform: capitalize;
  color: #333;
  font-size: 24px;
}

.post-description {
  text-transform: capitalize;
  color: #444;
  font-size: 16px;
}